# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/crash.*.log
terraform/*.tfplan

# Environment / secrets
.env
*.env
*.pem
*.key

# OS / editor files
.DS_Store
Thumbs.db
.vscode/

# AWS Terraform local files
terraform/aws/.terraform/
terraform/aws/*.tfstate
terraform/aws/*.tfstate.*
terraform/aws/*.tfplan
